@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inconsolata:wght@300&family=Josefin+Sans:wght@100&family=Kanit:ital,wght@0,300;1,200&display=swap');

/* Boilerplate */

html { font-size: 16px; }

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a { text-decoration: none; }

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    padding: 0;
    color: #6d1313;
    font-size: 1rem;
}

p { line-height: 1.2em; }


footer {
    display: block;
    text-align: center;   
    border-top: 1px solid #d63d17;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media queries */
@media (max-width: 1000px) {
    body { 
        margin: 0 24px; 
        font-size: 0.9rem;
    }
}
